.user-profile-container {
    padding: 30px 20px 0;
    .user-profile {
        width: 100%;
        > header {
            margin-bottom: 44px;
            .user-img-container {
                flex-basis: 0;
                margin-right: 30px;
                .user-img {
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                }
                .user-img,
                span {
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }
            .user-info-container,
            > span {
                flex-basis: 30px;
                flex-grow: 2;
                display: block;
                .react-loading-skeleton {
                    height: 100%;
                }
            }
            .user-info-container {
                > header {
                    margin-bottom: 20px;
                    > label {
                        font-size: rem(28px);
                        font-weight: 300;
                    }
                    .action-btns-container {
                        margin-left: 20px;
                        > a,
                        > button {
                            border: 1px solid #dbdbdb;
                            background-color: transparent;
                            border-radius: 4px;
                            padding: 5px 9px;
                            font-weight: 600;
                            font-size: rem(14px);
                        }
                        > button {
                            &.btn-follow {
                                background-color: $clr-active-link;
                                color: white;
                            }
                            &.btn-unfollow {
                                height: 30px;
                                margin: 0 8px;
                                > span {
                                    background-image: $sprites2-url;
                                    background-position: -522px -196px;
                                    background-repeat: no-repeat;
                                    display: block;
                                    height: 12px;
                                    width: 24px;
                                    pointer-events: none;
                                }
                            }
                            &.btn-suggestions {
                                transform: rotate(180deg);
                                width: 34px;
                                &.suggestions-open {
                                    transform: rotate(0deg);
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                    .btn-options-container {
                        padding: 8px;
                        margin-left: 5px;
                        > button.btn-options {
                        }
                    }
                }
                .user-stats-container {
                    margin-bottom: 20px;
                    > div {
                        &:not(:last-of-type) {
                            margin-right: 40px;
                        }
                    }
                }
                > footer {
                    line-height: 24px;
                    word-wrap: break-word;
                    h1 {
                        font-size: rem(16px);
                        font-weight: 600;
                    }
                }
            }
        }
        > main {
            .tab-switch-container {
                border-top: 1px solid $clr-border;
                font-size: rem(12px);
                font-weight: 600;
                height: 52px;
                > a {
                    height: inherit;
                    > label {
                        margin-left: 6px;
                        letter-spacing: 1px;
                        color: $clr-muted-txt;
                        cursor: pointer;
                    }
                    &:active {
                        opacity: 0.5;
                    }
                    &.active-tab {
                        border-top: 1px solid $clr-txt;
                        margin-top: -1px;
                        > svg {
                            fill: $clr-txt;
                        }
                        > label {
                            color: $clr-txt;
                        }
                    }
                    &:not(:last-of-type) {
                        margin-right: 60px;
                    }
                }
            }
        }
    }
    @media (min-width: $breakpoint-no3) {
        .user-info-container button.btn-unfollow {
            padding: 0 24px;
        }
    }
    @media (max-width: $breakpoint-no3) {
        padding: unset;
        margin-top: 16px;
        .user-profile {
            > header {
                .user-img-container {
                    flex: unset;
                    flex-basis: unset;
                    margin: 16px 16px 24px;
                    .user-img {
                        height: 77px;
                        width: 77px;
                    }
                }
                .user-info-container {
                    > header {
                        flex-direction: column;
                        align-items: flex-start;
                        .action-btns-container {
                            margin-left: unset;
                            .btn-message {
                                width: 150px;
                            }
                        }
                    }
                }
            }
            .user-stats-container {
                justify-content: space-around;
                border-top: 1px solid $clr-border;
                padding: 12px 0;
                > div > label,
                > div > label > a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: rem(14px);
                }
            }
            > main {
                .tab-switch-container {
                    height: 45px;
                    border-bottom: 1px solid $clr-border;
                    > a {
                        margin-right: unset !important;
                        justify-content: center;
                        flex: 1 1 auto;
                        &.active-tab {
                            border-top: unset;
                            margin-top: unset;
                            > svg {
                                fill: $clr-active-link;
                            }
                        }
                        > label {
                            display: none;
                        }
                        > svg {
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
                .not-available {
                    display: block;
                    padding: 16px;
                }
            }
        }
    }
}
