@font-face {
    font-family: instapound;
    font-weight: 400;
    src: url(../../assets/fonts/Instapound/Instapound-Regular.otf);
}
@font-face {
    font-family: instapound;
    font-weight: 600;
    src: url(../../assets/fonts/Instapound/Instapound-Bold.otf);
}
