// Colors
$clr-body: #fafafa;
$clr-border: #dbdbdb;
$clr-txt: #262626;
$clr-muted-txt: #8e8e8e;

// Breakpoints
$mobile-breakpoint: 580px;
$narrow-breakpoint: 640px;
$normal-breakpoint: 975px;

// Various
$header-height: 54px;
