// Colors
$clr-body: #fafafa;
$clr-border: #dbdbdb;
$clr-txt: #262626;
$clr-muted-txt: #8e8e8e;
$clr-active-link: #0095f6;

// Breakpoints
$mobile-breakpoint: 580px;
$narrow-breakpoint: 640px;
$normal-breakpoint: 935px;

// Various
$header-height: 54px;
$sprites-url: url(https://res.cloudinary.com/tomleb3/image/upload/v1615639449/instapound/ig-sprites_yaw4wf.png);
