// Colors
$clr-body: #fafafa;
$clr-border: #dbdbdb;
$clr-border-light: #efefef;
$clr-txt: #262626;
$clr-muted-txt: #8e8e8e;
$clr-active-link: #0095f6;

// Breakpoints
$breakpoint-no1: 580px;
$breakpoint-no2: 640px;
$breakpoint-no3: 735px;
$breakpoint-no4: 935px;

// Various
$header-height: 54px;
$sprites-url: url(https://res.cloudinary.com/tomleb3/image/upload/v1615639449/instapound/ig-sprites_yaw4wf.png);
$sprites2-url: url(https://res.cloudinary.com/tomleb3/image/upload/v1623000162/instapound/ig-sprites2_n8ot4e.png);
