.action-btns {
    border-top: 1px solid $clr-border-light;
    > div {
        margin-top: 4px;
        padding: 0 1rem;
        height: fit-content;
        > div {
            button:not(:last-of-type) {
                margin-inline-end: 1rem;
            }
        }
        button {
            padding: 0.5rem 0;
            &:first-of-type:active {
                animation: 0.45s ease-in-out 0s 2 alternate none running like-btn-anim;
                @keyframes like-btn-anim {
                    from {
                        transform: scale(1);
                    }
                    to {
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}
