.comment-section-collapsed {
    padding: 0 1rem;
    font-size: rem(14px);
    * {
        margin-bottom: 4px;
    }
    a {
        font-weight: 600;
    }
}

.comment-section-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    > .comment-section {
        overflow-y: scroll;
        box-sizing: content-box;
        padding: 16px;
        font-size: rem(14px);
        height: calc(100% - 32px);
        width: calc(100% - 8px);
        a {
            font-weight: 600;
        }
        ul > li:not(:last-of-type) {
            padding-bottom: 12px;
        }
        .user-post-txt-container {
            padding-bottom: 12px;
        }
        time {
            font-size: rem(12px);
            color: $clr-muted-txt;
            font-weight: 400;
            line-height: 14px;
            margin-top: 14px;
            margin-bottom: 4px;
        }
        .commentor-img {
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            margin-inline-end: 0.875rem;
            background-color: $clr-border;
        }
    }
}
