.img-cropper {
    position: relative;
    > .post-img {
        // max-width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        height: 100%;
        left: -30%;
        top: 0%;
        width: 160%;
        transition: all 0.2s ease 0s;
        transform: rotate(0deg);
        transform-origin: 50% 50%;
        will-change: height, left, top, width, transform;
    }
    > .cropper-container {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        > span {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.3);
            &:first-of-type {
                left: 33%;
                top: 0;
                width: 1px;
                height: 100%;
            }
            &:nth-of-type(2) {
                right: 33%;
                top: 0;
                width: 1px;
                height: 100%;
            }
            &:nth-of-type(3) {
                right: 0;
                top: 33%;
                width: 100%;
                height: 1px;
            }
            &:last-of-type {
                right: 0;
                bottom: 33%;
                width: 100%;
                height: 1px;
            }
        }
    }
}
