.post-preview {
    max-width: 616px;
    margin-top: 60px;
    border-radius: 3px;
    button {
        border: none;
        background-color: transparent;
    }
    header {
        height: 60px;
        padding: 1rem;
        img {
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            margin-inline-end: 0.875rem;
            background-color: $clr-border;
        }
        .user-container {
            width: 100%;
        }
    }
    .post-img {
        width: 100%;
    }
    .social-container {
        > header:first-of-type {
            margin-top: 4px;
            padding: 0 1rem;
            height: fit-content;
            > div {
                button:not(:last-of-type) {
                    margin-inline-end: 1rem;
                }
            }
            button {
                padding: 0.5rem 0;
            }
        }
        > label:first-of-type {
            padding: 0 1rem;
            font-weight: 600;
            font-size: 0.875em;
        }
        time {
            display: block;
            font-size: rem(10px);
            letter-spacing: 0.2px;
            line-height: 18px;
            padding: 0 1rem;
            margin-bottom: 4px;
            color: $clr-muted-txt;
            text-transform: uppercase;
        }
        .add-comment-container {
            border-top: 1px solid #efefef;
            padding: 0 1rem;
            margin-top: 4px;
            font-size: rem(14px);
            min-height: 56px;
            button:first-of-type {
                padding: 8px 16px 8px 0;
            }
            textarea {
                height: 18px;
                background: 0 0;
                border: 0;
                outline: 0;
                padding: 0;
                resize: none;
                font-size: inherit;
                flex: 1;
            }
            button:last-of-type {
                font-weight: 600;
                color: #0095f6;
                background: 0 0;
                user-select: none;
                &.disabled {
                    pointer-events: none;
                    opacity: 0.3;
                }
            }
        }
    }
    @media (min-width: $narrow-breakpoint) {
        border: 1px solid $clr-border;
    }
}
