.post-preview {
    width: 100%;
    border-radius: 3px;
    margin-top: 60px;
    min-height: 450px;
    position: relative;
    &.feed-view {
        max-width: 616px;
        .user-container {
            height: 60px;
        }
        .post-img {
            max-width: unset;
            border-right: unset;
        }
    }
    .user-container {
        height: 72px;
        padding: 1rem;
        border-bottom: 1px solid $clr-border-light;
        > img {
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            margin-inline-end: 0.875rem;
            background-color: $clr-border;
        }
        > div {
            width: 100%;
        }
    }
    .post-img {
        width: 100%;
        max-width: 598px;
        object-fit: cover;
        border-right: 1px solid $clr-border-light;
        -webkit-tap-highlight-color: transparent;
    }
    .action-btns-container {
        border-top: 1px solid $clr-border-light;
        > div {
            margin-top: 4px;
            padding: 0 1rem;
            height: fit-content;
            > div {
                button:not(:last-of-type) {
                    margin-inline-end: 1rem;
                }
            }
            button {
                padding: 0.5rem 0;
                &:first-of-type:active {
                    animation: 0.45s ease-in-out 0s 2 alternate none running like-btn-anim;
                    @keyframes like-btn-anim {
                        from {
                            transform: scale(1);
                        }
                        to {
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
    }
    .like-render > label {
        padding: 0 1rem;
        font-weight: 600;
        font-size: 0.875em;
        display: block;
        margin-bottom: 8px;
    }
    .time-container > time {
        display: block;
        font-size: rem(10px);
        letter-spacing: 0.2px;
        line-height: 18px;
        padding: 0 1rem;
        margin-bottom: 4px;
        color: $clr-muted-txt;
        text-transform: uppercase;
    }
    .add-comment-container {
        border-top: 1px solid $clr-border-light;
        padding: 0 1rem;
        margin-top: 4px;
        font-size: rem(14px);
        min-height: 56px;
        button:first-of-type {
            padding: 8px 16px 8px 0;
        }
        textarea {
            height: 18px;
            background: 0 0;
            border: 0;
            outline: 0;
            padding: 0;
            resize: none;
            font-size: inherit;
            flex: 1;
        }
        button:last-of-type {
            font-weight: 600;
            color: $clr-active-link;
            background: 0 0;
            user-select: none;
            &.disabled {
                pointer-events: none;
                opacity: 0.3;
            }
        }
    }
    @media (min-width: $breakpoint-no2) {
        border: 1px solid $clr-border;
    }
    @media (max-width: $breakpoint-no2) {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    @media (min-width: $breakpoint-no3) {
        &:not(.feed-view) {
            display: flex;
            .user-container {
                position: absolute;
                right: 0;
                width: 335px;
            }
            .right-panel {
                position: absolute;
                top: 72px;
                right: 0;
                bottom: 0;
                width: 335px;
                .action-btns-container {
                    order: 3;
                }
                .like-render {
                    order: 4;
                }
                .time-container {
                    order: 5;
                }
                .add-comment-container {
                    order: 6;
                }
            }
        }
    }
    @media (max-width: $breakpoint-no3) {
        &:not(.feed-view) {
            border: unset;
            .post-img {
                max-width: unset;
            }
        }
    }
}
