.post-preview {
    width: 100%;
    border-radius: 3px;
    margin-top: 60px;
    min-height: 450px;
    &.feed-view {
        max-width: 616px;
    }
    > .post-img {
        width: 100%;
        min-width: 598px;
        object-fit: cover;
    }
    > .right-panel {
        width: 100%;
    }
    @media (min-width: $narrow-breakpoint) {
        border: 1px solid $clr-border;
    }
}
